.home_image
{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    object-fit: cover;
}

.about_heading 
{
    color: black;
    text-align: center;
    padding: 7rem 0 2rem 0;
}

.container 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 65rem;
    margin: 0 auto;
    padding-bottom: 4rem;
  }
  
.solo_container 
{
    display: flex;
    width: 45.375rem;
    margin: -0.625rem auto 0.625rem;
}

.container2
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem 0rem 1rem 0;
}

.container3 
{
    max-width: 62.5rem;
    display: flex;
    margin: 0.68rem auto 0rem;
}

.container2 .container2b 
{
    margin: 0 4.375rem 0 4.0625rem;
}

.container3 .container3a, .container3b 
{
    width: 25rem;
    margin: 0 0.9rem;
}

.img_container 
{
    justify-content: center;
    align-items: center;
    width: 16.875rem;
    height: 15.625rem;
    flex: 1;
    margin: -0.625rem 0 1.1875rem 3.75rem;
}

.img_container img 
{
    max-width: 100%;
    max-height: 100%;
    border-radius: 30px;
    border: 3px solid #fff;
    margin: auto;
}

.card_text 
{
    font-size: 1rem;
    overflow: auto;
    text-align: justify;
    margin: 0;
}

.center 
{
    text-align: center;
}

.objective_card 
{
    padding: 0.75rem 2rem;
    font-size: 1rem;
    background: #00B4DB;
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
    background: linear-gradient(to right, #0083B0, #00B4DB);
    border: 3px solid #fff;
    border-radius: 30px;
    color: #fff;
    margin: 0.65rem auto 1.25rem;
    justify-content: center;
    align-items: center;
    width: 25rem; 
    height: 12.5rem;
    overflow: scroll;
    flex: 1;
}

.edu_card 
{
    padding: 0.75rem 2rem;
    width: 50rem;
    font-size: 1rem;
    background: #232526;
    background: -webkit-radial-gradient(to left, #414345, #232526);
    background: radial-gradient(#414345, #232526);
    border-radius: 30px;
    border: 3px solid #fff;
    color: #fff;
    flex: 1;
    overflow: auto;
    margin: 0;
}

.work_card 
{
    padding: 0.75rem 2rem;
    font-size: 1rem;
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
    color: #232526;
    border: 3px solid #fff;
    border-radius: 30px;
    flex: 1;
    text-align: left;
    color: black;
    width: 92%;
    height: 99%;
    margin: 0.5rem 3.4rem 0.5rem 3.4rem;
    overflow: auto;
    max-width: 100%;
    max-height: 100%;
    align-items: center;
}

.skills_card 
{
    padding: 0.75rem 2rem;
    font-size: 1rem;
    background-color: #fbb034;
    background-image: linear-gradient( 315deg, #fbb034 0%, #ffdd00 74%);
    color: #232526;
    border: 3px solid #fff;
    border-radius: 30px;
    flex: 1;
    text-align: left;
    color: black;
    width: 81%;
    height: 99%;
    margin: 0.5rem 0.5rem 0rem 1.57rem;
    overflow: auto;
    max-width: 100%;
    max-height: 100%;
    align-items: center;
}

.link_container 
{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 24.625rem;
    gap: 3.125rem;
    margin: -1.375rem auto -1.1875rem;    
}

.link_container .linked_icon 
{
    flex: 1;
    cursor: pointer;
}

.img_container img:hover, .edu_card:hover, .skills_card:hover, .work_card:hover, .objective_card:hover
{
    border: 3px solid black; 
}

.link_container .linked_icon:hover 
{
    transform: scale(1.08);
}

.link_container .linked_btn 
{
    flex: 1;
    cursor: pointer;
}  

.btn
{
    width: 100%;
    text-align: center;
    padding: 0.625rem 0.625rem; 
    font-size: 1rem;
    text-transform: uppercase;
    background-color: #fbb034;
    background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
    border-radius: 25px;
    color: #232526;
    border: 1px solid #fff;
    font-weight: 600; 
    cursor: pointer;
}

.btn:hover
{
    background-color: #fbb034;
    background-image: linear-gradient(315deg, #ffdd00 74%, #fbb034 0%,);
    border-radius: 25px;
    color: #fff;
    transition: 0.3s;
}

.expandable
{
    display: none;
}

@media screen and (max-width: 800px)
{
    html, body
    {
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
      
    .container 
    {
        display: flex;
        flex-direction: column;
    }

    .img_container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 28.125rem; 
        height: 16.875rem;
        margin: 0 auto;
    }

    .img_container img 
    {
        max-width: 100%;
        max-height: 100%;
        border-radius: 30px;
        margin: 0 auto;
    }

    .container2
    {
        display: None;
    }

    .expandable
    {
        display: block;
    }

    .container3 
    {
        display: None;

    }

    .link_container
    {
        justify-content: center;
        align-items: center;
        display: flex;
        width: auto;
        gap: 1.875rem; 
        margin: 0.75rem auto;
    }

    .edu_card
    {
        padding: 0.75rem 2rem;
        font-size: 1rem;
        background: #232526;  /* fallback for old browsers */
        background: -webkit-radial-gradient(to left, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
        background: radial-gradient(#414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        border-radius: 30px;
        color: #fff;
        flex: 1;
        max-width: 80%;
        max-height: 80%;
        margin: 0 auto 1.25rem;
    }

    .objective_card
    {
        justify-content: center;
        width: auto;
        height: auto;
        align-items: center;
        margin: 0 auto;
        max-width: 80%;
        max-height: 80%;
        margin-bottom: 1.125rem;
    }

    .work_card
    {
        padding: 0.75rem 2rem;
        width: 83%;
        font-size: 1rem;
        background-color: #b8c6db;
        background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
        color: #232526;
        border: 3px solid #fff;
        border-radius: 30px;
        flex: 1;
        max-width: 80%;
        max-height: 80%;
        text-align: left;
        height: 100%;
        color: black;
        margin-bottom: 0.625rem;
    }

    .img_container {
        justify-content: center;
        align-items: center;
        flex: 1;
    }
      
    .img_container img 
    {
        max-width: 100%;
        max-height: 100%;
        border-radius: 30px;
        margin-bottom: 0.9375rem;
    }

    .link_container
    {
        justify-content: center;
        align-items: center;
        display: flex;
        width: 50%;
        margin-bottom: 0;
    }
      
    .solo_container
    {
        width: 50%;
        margin-bottom: 0.75rem;
    }

    .work_card
    {
        padding: 0.75rem 2rem;
        max-width: 80%;
        max-height: 80%;
        margin: 0 auto 1.375rem;
    }

    .skills_card
    {
        padding: 0.75rem 2rem;
        width: auto;
        margin: 0 auto;
        max-width: 80%;
        max-height: 80%;
        margin-bottom: 0.9375rem;
        height: 100%;
    }
}