.about_screen 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
}

.about_screen .info 
{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.home_image
{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    object-fit: cover;
}

.heading {
    color: black;
    text-align: center;
    padding: 0 0 0 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1040px;
    margin: 0 auto;
    padding-bottom: 5rem;
}

.solo_container
{
    display: flex;
    width: 726px;
    margin: -10px 0 10px -38px;
}

.container2_1
{
    width: 100%;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin: 0rem 0rem 1rem 0;
}

.container3
{
    max-width: 1000px;
    display: flex;
    margin: 1.1rem 7.1rem 0rem 8.8rem;
}

.container2 .container2a, .container2b
{
    flex: 1
}

.container3 .container3a, .container3b
{
    width: 400px;
}

.img_container {
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 250px;
    flex: 1;
}
  
.img_container img 
{
    max-width: 100%;
    max-height: 100%;
    border-radius: 30px;
    margin: -13px 0 30px 140px;
    border: 3px solid #fff;
}

.card_text
{
    font-size: 1rem;
    overflow: auto;
    text-align: justify;
}

.center
{
    text-align: center;
}

.objective_card
{
    padding: 12px 32px; 
    font-size: 1rem;
    background: #00B4DB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 3px solid #fff;
    border-radius: 30px;
    color: #fff;
    margin: 6px 25px 20px 195px;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 210px;
    overflow: scroll;
    flex: 1;
}

.objective_card:hover, .edu_card:hover, .courses_card:hover, .skills_card:hover, .img_container img:hover
{
    border: 3px solid #232526;
    transition: 0.3s;
}

.edu_card
{
    padding: 12px 32px; 
    width: 800px;
    font-size: 1rem;
    background: #232526;  /* fallback for old browsers */
    background: -webkit-radial-gradient(to left, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: radial-gradient(#414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 30px;
    border: 3px solid #fff;
    color: #fff;
    flex: 1;
    overflow: auto;
}

.courses_card
{
    padding: 12px 32px; 
    font-size: 1rem;
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
    color: #232526;
    border: 3px solid #fff;
    border-radius: 30px;
    flex: 1;
    text-align: left;
    color: black;
    width: 343px;
    margin: 0 1rem 0 -0.8rem;
    overflow: auto;
}

.skills_card
{
    padding: 12px 32px; 
    font-size: 1rem;
    background-color: #fbb034;
    background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
    color: #232526;
    border: 3px solid #fff;
    border-radius: 30px;
    flex: 1;
    text-align: left;
    color: black;
    width: 355px;
    margin: 0 1.5rem 0 0.3rem;
    overflow: auto;
}

.link_container
{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 394px;
    gap: 50px;
    margin: -22px 0 -19px 200px;
}

.link_container .linked_icon
{
    flex: 1;
    cursor: pointer;
}

.link_container .linked_icon:hover
{
    transform: scale(1.08);
}

.link_container .linked_btn
{
    flex: 1;
    cursor: pointer;
}

.btn
{
    width: 100%;
    text-align: center;
    padding: 10px 10px; 
    font-size: 1rem;
    text-transform: uppercase;
    background-color: #fbb034;
    background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
    border-radius: 25px;
    color: #232526;
    border: 1px solid #fff;
    font-weight: 600; 
    cursor: pointer;
}

.btn:hover
{
    background-color: #fbb034;
    background-image: linear-gradient(315deg, #ffdd00 74%, #fbb034 0%,);
    border-radius: 25px;
    color: #fff;
    transition: 0.3s;
}

.expandable
{
    display: none;
}

@media screen and (max-width: 1040px)
{
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      

    .about_screen {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh; /* Use viewport height to set the height of the div */
        overflow-x: hidden;
      }

    .about_screen .info 
    {
        position: absolute;
        top: 50%; /* Position the div 50% from the top */
        left: 50%; /* Position the div 50% from the left */
        transform: translate(-50%, -50%); /* Move the div back by half of its width and height */
        text-align: center;
        margin-top: 46.3rem;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .img_container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 450px;
        height: 270px;
        margin: 0 auto;
    }

    .img_container img 
    {
        max-width: 100%;
        max-height: 100%;
        border-radius: 30px;
        margin: 0 auto;
    }

    .container2_1
    {
        display: None;
    }

    .expandable
    {
        display: block; /* or inline or inline-block */
    }

    .container3 
    {
        display: None;

    }

    .link_container
    {
        justify-content: center;
        align-items: center;
        display: flex;
        width: auto;
        margin: 0 auto;
        gap: 30px;
    }

    .edu_card
    {
        padding: 12px 32px; 
        font-size: 1rem;
        background: #232526;  /* fallback for old browsers */
        background: -webkit-radial-gradient(to left, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
        background: radial-gradient(#414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        border-radius: 30px;
        color: #fff;
        flex: 1;
        margin: 0 auto 15px auto;
    }

    .objective_card
    {
        justify-content: center;
        width: auto;
        height: auto;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 15px;
    }

    .courses_card
    {
        padding: 12px 32px; 
        width: 83%;
        font-size: 1rem;
        background-color: #b8c6db;
        background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
        color: #232526;
        border: 3px solid #fff;
        border-radius: 30px;
        flex: 1;
        text-align: left;
        color: black;
    }

    .img_container {
        justify-content: center;
        align-items: center;
        flex: 1;
    }
      
    .img_container img 
    {
        max-width: 100%;
        max-height: 100%;
        border-radius: 30px;
        margin-bottom: 20px;
    }

    .link_container
    {
        justify-content: center;
        align-items: center;
        display: flex;
        width: 50%;
    }
      
    .solo_container
    {
        width: 50%;
        margin: 0 auto;
    }

    .courses_card
    {
        padding: 12px 32px; 
        width: auto;
        margin: 0 auto;
    }

    .skills_card
    {
        padding: 12px 32px; 
        width: auto;
        margin: 0 auto;
        margin-bottom: 15px;
    }
}